.projects-section {
	position: relative;
	animation: load-in 500ms;
	color: var(--light);
	padding-bottom: 10rem;
	animation: load-in 500ms;
	isolation: isolate;
}

.projects-section:after {
	content: "";
	position: absolute;
	background-color: var(--green);
	inset: 0;
	transform: skewY(-5deg);
	z-index: -1;
}

.project-container-title {
	padding: 2rem;
	color: var(--dark);
	font-size: 2rem;
}

.project-container {
	margin-bottom: 1rem;
	background-color: var(--dark);
	width: 100%;
}

.project-info {
	padding: 1rem;
}

.img-container {
	display: none;
}

.name {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	font-weight: 500;
}

.description {
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}

.link-container {
	margin-top: 1rem;
	display: flex;
	justify-content: flex-end;
	justify-self: flex-end;
	gap: 1rem;
}

.link-container > a > button {
	padding: 0.4rem 0.7rem;
	font-size: 1rem;
	border: none;
	border-radius: 2px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	background-color: var(--green);
	color: var(--dark);
	cursor: pointer;
	transition: 250ms ease-in;
}

.link-container > a > button:hover {
	background-color: var(--shadow_red);
	color: var(--yellow);
}

@media only screen and (min-width: 500px) {
	.projects-section {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media only screen and (min-width: 800px) {
	.projects-section {
		margin: 0 auto;
	}

	.project-container-title {
		padding-bottom: 1rem;
	}

	.project-container {
		width: 600px;
		border-radius: 2px;
		box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
	}
}

@media only screen and (min-width: 1024px) {
	.projects-section {
		font-size: 1.5rem;
		padding: 1rem;
		animation: none;
	}

	.project-container-title {
		font-size: 3rem;
		padding-top: 1rem;
	}

	.project-container {
		width: 900px;
		padding: 1rem;
		margin: 2rem;
		display: flex;
		justify-content: space-between;
		border-radius: 4px;
	}

	.project-info {
		padding-right: 1.1rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.name {
		font-size: 1.5rem;
	}

	.link-container > a > button {
		font-size: 1.1rem;
		padding: 0.6rem 1rem 0.6rem 1rem;
	}

	.img-container {
		display: block;
	}

	.img-container > img {
		padding-top: 1rem;
	}

	.project-container-title,
	.projects {
		opacity: 0;
		transform: translateX(-200px);
		transition: 600ms ease-in;
		pointer-events: none;
	}

	.isVisible {
		transform: translateX(0);
		opacity: 1;
		pointer-events: all;
	}
}
