@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");

:root {
	--dark: rgb(43, 45, 66);
	--red: rgb(239, 35, 60);
	--light: rgb(237, 242, 244);
	--green: rgb(30, 168, 150);
	--shadow_red: rgba(239, 35, 60, 0.5);
	--yellow: rgb(252, 158, 79);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
}

* > li {
	list-style-type: none;
}

* > a {
	text-decoration: none;
}

@keyframes load-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
